body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url(p1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-size: 3rem;
  color: #757574;

}

header{
  margin-bottom: 1rem;
}

hr {
  margin: 20px auto;
  color: #E26A2C;
  border: 3px solid #E26A2C;
  max-width: 65px;
  opacity: 1;  
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-warning{
  background-color: #E26A2C;
  border-color: #E26A2C;
}
.btn-warning:hover{
  background-color: #FF8243;
  border-color: #FF8243;
  border-width: 4px;
}
.btn-xl{
  padding: 1rem 2rem;
}